*{
    padding: 0;
    margin: 0;
}
body{
    margin-left: 70px;
    margin-right: 70px;
    padding: 20px;
}
img{
    width: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.background-logo{
    width: 40%;
    display: flex;
    margin-right: 60%;
}
#title{
    text-align: center;
    font-size: 2.125rem;
    color: #00b39b;
}
.container{
    margin: 0 -10px;
}
.partner-card{
    border-style: hidden;
    border-radius: 10px;
    background-color: #00b39b;
    padding: 15px;
    color: beige;
}
.doctor-cad{
    background-color: rgb(61, 131, 223);
    border-radius: 10px;
    padding: 15px;
    color: beige;
}
.clinic-card{
    background-color: rgb(116, 116, 116);
    border-radius: 10px;
    padding: 15px;
    color: beige;
}
#cardsection{
    background-color: azure;
    width: auto;
    padding-left: 70px;
    padding-right: 70px;
}
.card-blocks{
    display: inline-block;
    font-size: 15px;
}
.card-blocks, h3{
    font-size: 15px;
    text-align: center;
}
.float-child{
    float: left;
}
.card1{
    border-radius: 2px;
    background-color: white;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px;
}
.card2{
    border-radius: 2px;
    background-color: white;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px;
}
.card3{
    border-radius: 2px;
    background-color: white;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px;
}
.card4{
    border-radius: 2px;
    background-color: white;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px;
}
.card1 .card2{
    display: block;
}
.card3 .card4{
    display: block;
}
.warsaw{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.warsaw:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.warsaw,.warsaw-img{
    width: auto;
    border-radius: 5px 5px 0 0;
}

footer{
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
}